<h1 class="profile-heading"><%= @user.username %>'s Profile</h1>

<div class="profile-container">
  <div class="profile-header">
    <% if @user.profile_picture.attached? %>
      <%= image_tag @user.profile_picture, alt: @user.username, style: 'width: 150px; height: 150px;' %>
    <% else %>
      <%= image_tag 'default_profile_picture.jpg', alt: 'Default profile picture', class: 'profile-pic' %>
    <% end %>
    <div class="profile-details">
      <h2 class="profile-username"><%= @user.username %></h2>
      <% if @user.biography.present? %>
        <p class="profile-biography"><%= @user.biography %></p>
      <% else %>
        <p class="profile-biography">No biography available.</p>
      <% end %>
    </div>
  </div>

  <% if @user == current_user %>
    <div class="user-actions">
      <%= link_to 'Edit Profile', edit_user_registration_path, class: 'button' %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button button-sign-out' %>
    </div>
  <% end %>
</div>

<div class="user-posts">
  <h3 class="posts-heading">Posts by <%= @user.username %>:</h3>

  <% if @posts.any? %>
    <ul class="posts-list">
      <% @posts.each do |post| %>
        <li class="post-item">
          <h4 class="post-title"><%= link_to post.title, post_path(post) %></h4>
          
          <% if post.image.attached? %>
            <%= image_tag post.image, alt: 'Post image', style: 'max-width: 150px; max-height: 150px; width: auto; height: auto;' %>
          <% end %>

          <p class="post-content"><%= truncate(post.content, length: 100) %></p>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="no-posts-message">This user hasn't released any posts yet.</p>
  <% end %>
</div>
