<h1 class="profile-heading"><%= @user.username %></h1>

<div class="profile-container">
  <div class="profile-header">
    <% if @user.profile_picture.attached? %>
      <%= image_tag @user.profile_picture, alt: @user.username, class: 'profile-pic' %>
    <% else %>
      <%= image_tag 'default_profile_picture.jpg', alt: 'Default profile picture', class: 'profile-pic' %>
    <% end %>

    <div class="profile-details">
      <h2 class="profile-username"><%= @user.username %></h2>
      <% if @user.biography.present? %>
        <p class="profile-biography"><%= @user.biography %></p>
      <% else %>
        <p class="profile-biography">No biography available.</p>
      <% end %>
    </div>
  </div>

  <div class="user-actions">
    <% if user_signed_in? %>
      <% if @user == current_user %>
        <!-- User's own profile -->
        <%= link_to 'Edit Profile', edit_user_registration_path, class: 'button' %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button button-sign-out' %>
      <% elsif current_user.friends_with?(@user) %>
        <div class="friend-status">
          <p class="friend-status-text">You are friends</p>
          <%= button_to 'Remove Friend', remove_friend_user_path(@user), method: :delete, class: 'button button-subtle' %>
        </div>
      <% elsif current_user.sent_request_to?(@user) %>
        <p class="friend-status-text">Friend request already sent.</p>
      <% elsif current_user.pending_request_from?(@user) %>
        <div class="friend-requests">
          <%= button_to 'Accept', accept_friend_request_user_path(@user), method: :patch, class: 'button' %>
          <%= button_to 'Ignore', ignore_friend_request_user_path(@user), method: :delete, class: 'button button-subtle' %>
        </div>
      <% else %>
        <%= button_to 'Send Friend Request', send_friend_request_user_path(@user), method: :post, class: 'button' %>
      <% end %>
    <% end %>
  </div>

  <div class="friends-section">
    <h3 class="friends-heading"><%= @user == current_user ? 'Your Friends' : "#{@user.username}'s Friends" %></h3>

    <% if @user.friends.any? %>
      <ul class="friends-list">
        <% @user.friends.each do |friend| %>
          <li class="friend-item">
            <%= link_to friend.username, profile_path(friend), class: 'friend-link' %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="no-friends-message">No friends yet.</p>
    <% end %>
  </div>
</div>

<div class="user-posts">
  <h3 class="posts-heading">Posts by <%= @user.username %>:</h3>

  <% if @posts.any? %>
    <ul class="posts-list">
      <% @posts.each do |post| %>
        <li class="post-item">
          <h4 class="post-title"><%= link_to post.title, post_path(post) %></h4>
          
          <% if post.image.attached? %>
            <%= image_tag post.image, alt: 'Post image', class: 'post-image' %>
          <% end %>

          <p class="post-content"><%= truncate(post.content, length: 100) %></p>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="no-posts-message">This user hasn't released any posts yet.</p>
  <% end %>
</div>
