<h1>All Posts</h1>

<!-- Combined Dropdown Filter Form -->
<%= form_with url: posts_path, method: :get, local: true, class: 'filter-form' do %>
  <!-- Dropdown Filter for Post Style -->
  <%= select_tag :Stylefilter, options_for_select([['All', ''], ['Standard', 'standard'], ['Story-telling', 'storytelling'], ['Gallery', 'gallery']], params[:Stylefilter]), include_blank: false, class: 'filter-select filter-style' %>

  <!-- Dropdown Filter for Mood -->
  <%= select_tag :Moodfilter, options_for_select(@mood_tags.unshift('All'), params[:Moodfilter]), include_blank: false, class: 'filter-select filter-mood' %>

  <!-- Single Filter Button -->
  <%= submit_tag 'Filter', class: 'button' %>
<% end %>

<%= link_to 'New Post', new_post_path, class: 'button' %>

<ul class="posts-list">
  <% @posts.each do |post| %>
    <li class="post-item <%= post.post_type %>-post">
      <div class="post-header">
        <% if post.user.profile_picture.attached? %>
          <%= link_to profile_path(post.user) do %>
            <%= image_tag post.user.profile_picture, alt: "#{post.user.username}'s profile picture", class: 'profile-index-pic' %>
          <% end %>
        <% else %>
          <%= link_to profile_path(post.user) do %>
            <%= image_tag 'default_profile_picture.jpg', alt: 'Default profile picture', class: 'profile-index-pic' %>
          <% end %>
        <% end %>
        <div class="user-info">
          <%= link_to post.user.username, profile_path(post.user), class: 'username' %>
        </div>

        <div class="post-collaborators">
          <strong>Collaborators:</strong>
          <% if post.collaborators.any? %>
            <ul class="collaborators-list">
              <% post.collaborators.each do |collaborator| %>
                <li class="collaborator-item">
                  <%= link_to collaborator.username, profile_path(collaborator), class: 'collaborator-link' %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p>No collaborators</p>
          <% end %>
        </div>

        <div class="post-type">
          <strong>Type:</strong> <%= post.post_type.capitalize %>
        </div>
      </div>
      
      <div class="post-content">
        <h2 class="post-title"><%= post.title %></h2>

        <% case post.post_type %>
        <% when 'standard' %>
          <% if post.image.attached? %>
            <%= image_tag post.image, alt: 'Post image', class: 'post-image' %>
          <% end %>
          <p class="post-caption"><%= post.content %></p>
          
        <% when 'storytelling' %>
          <p class="post-long-text"><%= post.content %></p>
          
        <% when 'gallery' %>
          <div class="gallery">
            <% post.images.each do |img| %>
              <%= image_tag img, alt: 'Gallery image', class: 'gallery-image' %>
            <% end %>
          </div>
          <p class="gallery-caption"><%= post.content %></p>
          
        <% end %>
       

        <% if user_signed_in? && (post.user == current_user || post.collaborators.include?(current_user)) %>
          <%= link_to 'Edit', edit_post_path(post), class: 'button' %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
