<h1>All Posts</h1>
<%= link_to 'New Post', new_post_path %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.content %> - from :
      <% if post.user.profile_picture.attached? %>
        <%= link_to profile_path(post.user) do %>
          <%= image_tag post.user.profile_picture.variant(resize_to_limit: [30, 30]), alt: "#{post.user.username}'s profile picture", class: 'profile-pic' %>
        <% end %>
      <% else %>
        <%= link_to profile_path(post.user) do %>
          <%= image_tag 'default_profile_picture.jpg', alt: 'Default profile picture', class: 'profile-pic' %>
        <% end %>
      <% end %>
      - <%= link_to post.user.username, profile_path(post.user) %>
    </li>
  <% end %>
</ul>
