<h1>New Post</h1>

<%= form_with(model: @post, local: true, html: { multipart: true }) do |form| %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :collaborator_ids, 'Collaborators' %>
    <%= form.collection_check_boxes :collaborator_ids, current_user.friends, :id, :username, class: 'form-check-input' do |b| %>
      <div class="form-check">
        <%= b.check_box(class: 'form-check-input') %>
        <%= b.label(class: 'form-check-label') %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.submit 'Save Post', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back', posts_path, class: 'btn btn-secondary' %>
