<div class="single-post">
  <h1><%= @post.title %></h1>

<% if @post.image.attached? %>
          <%= image_tag @post.image, alt: 'Post image', style: 'max-width: 600px; max-height: 600px; width: auto; height: auto;', class: 'post-image' %>
<% end %>

<p><%= @post.content %></p>
<p>Posted by <%= link_to @post.user.username, profile_path(@post.user) %></p>

  <%= link_to 'Back to All Posts', posts_path, class: 'button' %>
</div>
