<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Anecdote" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="<%= asset_path 'favicon.ico' %>" type="image/x-icon">
   
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <header class="site-header">
  <nav class="site-nav">
    <div class="container">
      <div class="nav-left">
        <% if user_signed_in? %>
          <ul class="nav-links">
            <li><%= link_to 'Home', root_path, class: 'nav-link' %></li>
            <li><%= link_to 'New Post', new_post_path, class: 'nav-link' %></li>
            <li><%= link_to 'Profile', profile_path(current_user), class: 'nav-link' %></li>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button button-sign-out' %>
          </ul>
        <% else %>
          <ul class="nav-links">
            <li><%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %></li>
            <li><%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %></li>
          </ul>
        <% end %>
      </div>
      <a href="<%= root_path %>" class="logo">Anecdote</a>
      <div class="nav-right"></div>
    </div>
  </nav>
</header>

    <main class="site-main">
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <footer class="site-footer">
      <div class="container">
        <p>&copy; <%= Time.current.year %> Reverie. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
